<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/task 
                           http://www.springframework.org/schema/task/spring-task-4.2.xsd">

    <context:component-scan base-package="qa.qcri.mm.drone"/>

    <mvc:annotation-driven />
	    
    <task:annotation-driven />   
    
    <!-- THYMELEAF: Template Resolver for email templates -->
	<bean id="emailTemplateResolver" class="org.thymeleaf.templateresolver.ClassLoaderTemplateResolver">
	  <property name="prefix" value="email/" />
	  <property name="templateMode" value="HTML5" />
	  <property name="characterEncoding" value="UTF-8" />
	  <property name="order" value="1" />
	</bean>
	
	<!-- THYMELEAF: Template Engine (Spring3-specific version) -->
	<bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
	  <property name="templateResolvers">
	    <set>
	      <ref bean="emailTemplateResolver" />	      
	    </set>
	  </property>
	</bean>
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	  <property name="host" value="smtp.gmail.com" />
	  <property name="port" value="587" />
	  <property name="username" value="info.uaviators@gmail.com" />
	  <property name="password" value="uaviators#123" />
	  <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>	  
	</bean>

</beans>
