body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.lorem {
    font-style: italic;
    color: #AAA;
}

header {
    height: 70px;
    background: #EAEAEA;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.65);
    margin-bottom: 2px;
    overflow: hidden;
    content: "";
    /* display: inline-block; */
    /* height: 100%; */
    vertical-align: middle;
}

header > div {
    display: inline-block;
}

header a {
    text-shadow: 0 0 0;
}

header a:hover {
    text-shadow: 1px 0px 5px rgb(108, 107, 107);
}

div#logo {
    background-image: url("../images/logo-bg.png");
    padding: 7px 10px;
    vertical-align: top;
    background-repeat: repeat-x;
    box-shadow: 2px 2px 2px #AB9B9B;
    float: left;
}

#logo img {
    width: 250px;
    height: 55px;
}

.social-logos {
    /*padding: 0 15px;*/
    /* line-height: 70px; */
    margin: 35px 0;
    position: absolute;;
    bottom: 0;
    z-index: 100;
    width: 48px;
    background-color: #FFF;
    left: 5px;
        box-shadow: 2px 2px 2px #847676;
        display: none;
}

.social-logos a {
    font-size: 2.5rem;
    text-decoration: none;
    color: #2F5B64;
    width: 66%;
    height: 45px;
    float: left;
    color: #FFF;
    margin: 2%;
}
.social-logos a.fb{
    background: #3b5998;
    padding-left: 30%;
    padding-top: 10px;
    width: 95%;
}

.social-logos a.twitter{
    background: #3a92c8;
    padding-left: 20%;
    width: 95%;
    padding-top: 10px;
}
.social-logos a.gplus{
    background: #ca3c3c;
    padding-left: 20%;
    width: 95%;
    padding-top: 10px;
}
.admin-div{
	margin: 5px 0;
    position: absolute;
    bottom: 35px;
    width: 48px;
    left: 5px;
}
.admin-div a.admin{
   	background: #b20000;
    padding-left: 9%;
    width: 50%;
    padding-top: 2px;
    font-size: 1.5rem;
    height: 25px;
    border-radius: 5px;
    text-decoration: none;
    float: left;
    color: #FFF;
}
.share-div{margin: 5px 0;
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 48px;
    left: 5px;
 }
.share-div a.share{
   background: #b20000;
    padding-left: 9%;
    width: 50%;
    padding-top: 2px;
    font-size: 1.5rem;
    height: 25px;
    border-radius: 5px;

    text-decoration: none;
     float: left;
    color: #FFF;

}


.pull-right{
    float: right;
}

.srchspan{
    position: relative;
    margin-left: -25px;
    cursor: pointer;
    left: 28px;
}

.info a{
    line-height: 70px;
    color: #A5A5A5;
    font-size: 3.5rem;
    padding: 0 20px;
}

input#search {
    padding: 5px;
    border-radius: 5px;
    padding-right: 25px;
    font-size: 1.2rem;
    width: 80%;
    color: #aaa;
    min-width: 200px;
}

.search-bar {
    //line-height: 70px;
    margin-top: 13px;
    margin-left: 23px;
    width: 500px;
}

.search-bar input{
    width: 464px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #C3BBBB;
    padding: 10px;
    padding-left: 30px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
/*input[type=text], textarea {
  outline: none;
}

input[type=text]:focus, textarea:focus {

    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    width: 94%;
}*/

.mainContainer {
    height: calc(100% - 72px);
    width: 100%;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 200;
    background: #EAEAEA;
}
.jstree-default-contextmenu{
  z-index: 200;
}
.sidebar.collapsed {
    width: 50px;
    top: 70px;
}

.sidebar-tabs {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: inherit;
    border-top: 1px solid;
}
.sidebar-tabs > li {
    width: 100%;
    /* height: 40px; */
    color: #2F5B64;
    font-size: 16pt;
    overflow: hidden;
    transition: all 80ms;
    padding: 5px 0;
    text-shadow: 1px 0px 5px rgb(108, 107, 107);
     background-image: url("../images/logo-bg.png");
     box-shadow: 2px 2px 2px #AB9B9B;
     color: #FFF;
}
.sidebar-tabs > li:hover {
    color: #FFF;
    background-color: #2899FF; }
.sidebar-tabs > li.active {
    color: #fff;

    text-shadow: 1px 0px 5px rgb(108, 107, 107);


}
.sidebar-tabs > li > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: inherit;
    text-decoration: none;
    text-align: center; }

.sidebar-container {
    position: absolute;
    left: 50px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    overflow-x: auto;
    overflow-y: auto;
    border-left: 1px solid;
    border-top: 1px solid;
    transition: width 500ms;
}

.sidebar-pane {
    display: none;
    right: 0;
}
.sidebar-pane.active {
    display: block;
}

.sidebar-map {
    margin-left: 40px;
}

.sidebar {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.65);
    top: 70px;
}
.sidebar.leaflet-touch {
    box-shadow: none;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
    .sidebar {
        /* border-radius: 4px; */
    }
    .sidebar.leaflet-touch {
        border: 2px solid rgba(0, 0, 0, 0.2);
    }
    .sidebar.collapsed ~ .sidebar-map .leaflet-left {
        left: 60px;
    }
}

@media (min-width: 768px) {
    .sidebar-map .leaflet-left {
        transition: left 500ms;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-map .leaflet-left {
        left: 315px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-map .leaflet-left {
        left: 400px;
    }
}
@media (min-width: 1200px) {
    .sidebar-map .leaflet-left {
        left: 360px;
    }
}


.sidebar-pane .content {
    box-sizing: border-box;
    margin: 15px;
    padding: 0;
}

.sub-header h1 {
    margin: 0;
    color: #FFF;
    float: left;
        font-size: 25px;
    font-weight: 100;

}
.sub-header i{color: #FFF; margin-top: 8px;}
.sidebar-pane .sub-header {
    text-align: center;
    background-image: url("../images/panel-heading.png");
    padding: 10px 10px;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.50);
    cursor: pointer;
    overflow: hidden;
}

.content .info {
    font-size: 3.5rem;
    line-height: 4rem;
    text-shadow: 2px 1px 1px #000, -1px -1px 1px #fff;
    color: #2F5B64;
    opacity: 0.3;
    text-align: center;
}

.content input[type="radio"] {
    display:none;
}

.content label {
    display:inline-block;
    /* background-color: #eee; */
    padding: 4px 4px;
    font-family:Arial;
    font-size:16px;
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
    border: 2px solid #eee;
    box-shadow: 1px 3px #ccc;
}

.content input[type="radio"]:checked + label {
    background-color: #eee;
    padding: 4px 11px;
    /* border: 2px solid #ccc; */
}

label .layerInfo {
    margin: 5px;
    display: inline-block;
    width: 75%;
}

.layerInfo .layerName {
    font-weight: bold;
    line-height: 1.4;
}

.layerInfo .layerDate {
    font-size: smaller;
    margin: 5px 0;
    color: #626262;
    display: inline-block;
}

/* Autocomplete Styling */

li.ui-autocomplete-category {
    background: #2F5B64;
    color: #fff;
    padding: 5px 10px;
    text-transform: uppercase;
    text-shadow: 1px 0px 5px rgb(108, 107, 107);
    /* font-size: 1em !important; */
}

.ui-autocomplete-suggestions {
    /* border: 1px solid #999; */
    /* background: #fff; */
    cursor: default;
    overflow: auto;
}
.ui-autocomplete-suggestion {
    padding: 10px 5px;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
}
.ui-autocomplete-selected {
    background: #f0f0f0;
}
.ui-autocomplete-suggestions {
    font-weight: normal;
    color: #3399ff;
}

.notification {
    position: absolute;
    display: inline-block;
    padding: .5em;
    max-width: 250px;
    line-height: 1.5em;
    top: 85px !important;
    right: 20px;
    //box-shadow: 2px 0px 5px rgb(108, 107, 107);
    //text-shadow: 1px 0px 1px rgb(231, 230, 229);
}
.ui-tooltip {
    border: 1px solid white;
    background: #111;
    color: white;
}

/* Additional Font Unicodes */

.mm{
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mm-text:before {
    content: '\01AC';
}

.mm-3w:before {
    content: '\0033\0057';
    font-family: FontAwesome;
}

.sidebar-tabs .mm-text {
    font-size: 3rem !important;
}

.ui-autocomplete { z-index: 200}

.my-font{font-family: verdana;}


/*Media Queries*/

@media (max-width: 785px) {
    .social-logos {
        display: none;
    }
}
@media (min-width: 768px) {
    .sidebar {
        /* left: 10px; */
        /* top: 10px; */
        /* bottom: 10px; */
        transition: width 500ms;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        width: 305px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar {
        width: 390px;
    }
}
@media (min-width: 1200px) {
    .sidebar {
        width: 364px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-pane {
        width: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-pane {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .sidebar-pane {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .sidebar-map {
        margin-left: 0;
    }
}
#loading-widget{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4000;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.login-dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 300;
  background-color: rgba(48,48,48,.85);
  //opacity: .85;
  display: none;
}
.login-block {
	background-color: white;
	width: 500px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	margin-top: 200px;
	padding: 20px;
	opacity: 1;
	z-index: 999;
}
.leaflet-top {
	z-index: 1;
}
.zoomContainer {
  z-index: 400;
}
.image-clicker{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  border: 5px solid white;
  width: 40%;
  height: 50%;
}
.modal_dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 400;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.video-div {
    width: 700px;
    height: 520px;
    position: relative;
    margin: 2% auto;
    padding: 5px 5px 5px 5px;
    border-radius: 0px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.aerial-div {
    width: 750px;
    height: 750px;
    position: relative;
    margin: 2% auto;
    padding: 5px 5px 5px 5px;
    border-radius: 0px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #ff2c0c; }
.my-hidden{display: none;}
