.headerWrapper {
	background-color: #3f51b5;
	opacity: 0.9;
	height: 54px;
	width: auto;
	margin: 0;
	padding: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
.header {
	margin: 0 auto;
	padding-left: 18px;
	//padding-top: 5px;
	width: 91%;
}
.micromappers-logo {
	width: 200px;
	height: 47px;
	margin-top: 3px;
}
.no-margin-top {
	margin-top: 0px;
}